{% extends "root.twig" %}

{% block body %}
<div class="container mx-auto">

    <div class="flex flex-col mx-auto">
        <div class="mb-2 mt-2">
            <a href="{{ path_for('expensecodes.list') }}" class="btn btn-secondary btn-wide">Expense Codes</a>
        </div>
        <div class="mb-2 mt-2">
            <a href="{{ path_for('expensegroups.list') }}" class="btn btn-secondary btn-wide">Expense Groups</a>
        </div>
        <div class="mb-2 mt-2">
            <a href="{{ path_for('taxcodes.list') }}" class="btn btn-secondary btn-wide">Tax Codes</a>
        </div>
        <div class="mb-2 mt-2">
            <a href="{{ path_for('companytypes.list') }}" class="btn btn-secondary btn-wide">Company Types</a>
        </div>
        <div class="mb-2 mt-2">
            <a href="{{ path_for('credittypes.list') }}" class="btn btn-secondary btn-wide">Credit Types</a>
        </div>
        <div class="mb-2 mt-2">
            <a href="{{ path_for('transactiontypes.list') }}" class="btn btn-secondary btn-wide">Transaction Types</a>
        </div>
    </div>

</div>
{% endblock %}


{% block scripts %}
{% endblock %}